/* ######### CSS for Shade Tabs. Remove if not using ######### */

.shadetabs{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
font-family: Georgia,'Times New Roman',times,serif;
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
position: relative;
z-index: 1;
padding: 3px 7px;
margin-right: 1px;
border-radius:5px 5px 0 0;
box-shadow:-3px 3px 2px #678 inset;
color: #0000A0;
cursor:pointer;
left:0px;
margin-right:1px;
margin-top:2px;
padding:5px 6px 5px 5px ;
position:relative;
		/*text-shadow:1px 1px #000;*/

/*border: 1px solid #778;
color: #2d2b2b;
background: white url(fondo_input.gif) top left repeat-x;
font-family: Arial,Helvetica,sans-serif;
background-color: #2380e6;*/
}

.shadetabs li a:visited{
color: #11247a;
}

.shadetabs li a:hover{
text-decoration: underline;
color: #1c54e7;
}

.shadetabs li a.selected{ /*selected main tab style */
position: relative;
top: 1px;
}

.shadetabs li a.selected{ /*selected main tab style */
background-image: url(shade.gif);
border-bottom-color: white;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}


/* ######### CSS for Inverted Modern Bricks II Tabs. Remove if not using ######### */

