/*CSS sobre selector de identificador*/
body {
	width:55%;
	font-family: 'Open Sans Condensed','Arial Narrow', serif;
	background: #ddd url(../images/bg10.jpg) no-repeat ;
	/*background-position: center;*/
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;

}

#cabecera {letter-spacing:-1px; font-weight:normal;font-weight:bold;text-shadow:}
.header {
	font-size:12px;
	color: #003;
    text-shadow: #fff -2px 0px 3px,  #036 0px -2px 3px, #ccc 0px 2px 3px, #009 2px 0px 3px;
}
.header2 {
	font-size:20px;
    text-shadow: gray -2px 0px 3px,  #003 0px -2px 3px, #cc1 px 0px 0px,  silver 2px 0px 3px;
}
.clr{
	clear: both;
	padding:10px;	
}
.pweb_menu{
	position:absolute;
	top:10px;
	margin-right:10%;
	margin-left:04%;
	/*margin-top:10px;
	margin-bottom:40px;*/
	padding:10px;
	width:90%;/*70 resolocion pc de 17"*/
	height:700px;
	background:#036;
	border-radius:10px;
	box-shadow:1px 10px 2px rgba(,0,0,0.1);
	opacity:.90;
	
	}
.pweb{
	position: relative;
	/*top:0px;*/
	margin-right: 10%;
	margin-left:10%;
	/*margin-top:10px;
	margin-bottom:40px;*/
	padding:10px 20px 10px 20px;
	width:160%;/*98 mi pc de 17" 160% con 15""*/
    min-width:98%;
	height:700px;
	background:#036;
	border-radius:10px;
	box-shadow:1px 10px 2px rgba(,0,0,0.1);
	opacity:.90;
    right:20px ;
	}
.contenedor 
{
	padding:5px;
	width:96%;/*96 para pc de 17"*/
	height:96%;
	top:0px;
	border-radius:10px;
	box-shadow:1px 10px 2px rgba(255,255,255,255);
	position:  relative;
}
 .contenedor_datos
{ 
 
background:url(../images/bg8.jpg);
width:100%;/*95 resolocion pc de 17"*/
height:500px;
border-radius:10px;
box-shadow:1px 4px 2px rgba(0,0,0,0.1);
}
.codrops_menu{
	left:2px;
	top:15px;
	margin-right:50%;
	margin-left:10%;
	line-height: 30px;
	font-size: 15px;
	background: #fff;
	background: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	font-family: Cambria, Georgia, serif;
	box-shadow: 1px 8px 2px rgba(0,0,0,0.2);
	border-radius: 10px;
	padding:5px;
	width:150%;/*95 para pc de 17"*//*126% para pc de 15"*/
	
	}
.codrops-top{
	right:20px;
	top:3px;
	margin-right: 10%;
	margin-left:10%;
	margin-bottom:1%;
	line-height: 30px;
	font-size: 40px;
	background: #;
	background: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	font-family: Cambria, Georgia, serif;
	box-shadow: 1px 8px 2px rgba(0,0,0,0.2);
	border-radius: 10px;
	padding:10px 20px 10px 10px;
    width:162%;/*95 para pc de 17"*//*162% para pc de 15"*/
    min-width:95% ;
      
	}



/* ejemplo del primer Div */

/* fin del ejemplo del primer Div */


/* ejemplo del menu con Div */

/* fin ejemplo del menu con Div */

/* estilo del ejemplo 1 */

/* fin estilo del */



#limpiar_border {
	width:450px;
	position: absolute;
	background:#ddd url(../images/bg31.jpg);
	border: #006 solid 4px;
	clear: both;
	left: 405px;
	top: 110px;
	height: 118px;
	

      } 
/*  propiedades tab*/

.contacto_tab{
    border: 1px solid #CED5D7;
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    background:url(../images/bg8.jpg);
   	border-radius: 10px;
	box-shadow:1px 4px 2px rgba(,0,0,0.1);
	
}
.contacto_tab input {
    padding: 5px 5px;
    width: 50px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 0px 0;
	
}

/*  propiedades input formuario */



.contacto_v{
    border: 1px solid #CED5D7;
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    background:url(../images/bg8.jpg);
   	border-radius: 10px;
	box-shadow:1px 4px 2px rgba(,0,0,0.1);
}
.contacto_v input {
    padding: 5px 5px;
    width: 80px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 0px 0;
	
}
/*  propiedades input menu */
.contacto_menu{
    border: 1px solid #CED5D7;
    padding: 5px 5px 5px 5px;
    color:#00F;
    margin-top: 5px;
    background:url(../images/bg8.jpg)#00F;
   	border-radius: 10px;
	box-shadow:1px 4px 2px rgba(,0,0,0.1);
   
}
.contacto_menu input {
    padding: 5px 5px;
    width: 150px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 0px 0;
	
}
/*                              */
#dato_login{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	padding:5px;
	color: #06C;
	background: #CCC;
   	border-radius:10px;
	box-shadow:1px 4px 2px rgba(,0,0,0.1);
	

}
.cuadro_login{
    top:3px;
    left:8px;
	width:380px;
	height:250px;
	font-size:25px;
    position: absolute;
	border: 1px solid #CED5D7;
    margin-top: 5px;
    background:url(../images/bg8.jpg);
   	border-radius: 10px;
	box-shadow:1px 4px 2px rgba(,0,0,0.1);
}
.cuadro_login input[type='text']:focus{
    outline: none;
    box-shadow:0 0 0 3px #EEF5F7;
}
.cuadro_login input {
    padding: 5px 5px;
    border: 1px solid #CED5D7;
    resize: none;
    margin: 5px;
	
}
.contacto{
	width:300px;
	border: 1px solid #CED5D7;
    padding: 10px;
    margin-top:5px;
    background:url(../images/bg8.jpg);
   	border-radius: 10px;
	box-shadow:1px 4px 2px rgba(,0,0,0.1);
	left:380px;
	position:relative;
}
.contacto input {
    padding: 5px 5px;
    border: 1px solid #CED5D7;
    resize: none;
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 0px 0;
	
}
.contacto input[type='text']:focus{
    outline: none;
    box-shadow:0 0 0 3px #00C;
	
}

	
/*  Cuadros para fechas */
#dato_00{padding:7px; left:180px;width:160px;}
#dato_00 input{
background:url(../images/fondo_input/fondo_input_g.png);
    }
    
#dato1{padding:7px; left:180px;width:430px;}
#dato1 input{
    background:url(../images/fondo_input/fondo_input_g.png);
    }
#dato2{padding:7px; width: 430px;}
#dato2 input{
    background:url(../images/fondo_input/fondo_input_g.png);
    width: 89px;
    }
/*  formato  recibo de pago */
#dato{padding:7px;}
#dato input{
    background:url(../images/fondo_input/fondo_input_g.png);
    }
    
#dato_menu{padding:2px;margin:8px ;width:200px;height:40px;float: left;overflow: inherit;}
#dato_menu input{
    background:url(../images/fondo_input/fondo_input_g.png);
    }
#dato_reg{padding:3px;}
#box_reg{
	opacity:.70;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	padding:0px;
	color:#00F;
	display: table-cell;
	background:url(../images/bg82.jpg);
   	border-radius: 10px;
	box-shadow:1px 4px 2px rgba(,0,0,0.1);
    height:10px;
}
#box_tabla{
	opacity:.70;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	padding:0px;
	color:#00F;
	display: table-row;
	background:url(../images/bg82.jpg);
   	border-radius: 10px;
	box-shadow:1px 4px 2px rgba(,0,0,0.1);
    height:10px;
}
.bordes_redondo{
	color: bisque;font-weight:bold;text-shadow:#ffff;
	border: 3px solid #FFF;
	padding: 0px 10px 5px 3px;
	margin-top: 5px;
	background-color:#c0c0c0;
	border-radius: 10px;
	box-shadow:1px 5px 2px rgba(0,0,0.2);
	opacity:0.6px;
	width:300px;/*no cambiar valor*/
	position: relative;
	left:380px;
	height:40px;
	}
.titulo_mod{
color:#009;font-weight:bold;text-align:center;text-shadow:#ffff;font-size:24px;width:70%;height:30px;padding:10px 10px 10px 5px;float:left;
	}
#titulo{
	width:200px;
		}
        
#titulo_d{
	float:left;
	margin:10px;
 	border-radius: 10px;
	box-shadow:1px 4px 2px rgba(,0,0,0.1);
	}
#dato_der{
      
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	padding:2px 3px 1px 5px;
	color:#00F;
	display: table-cell;
	background:url(../images/bg82.png);
   	border-radius: 10px;
	box-shadow:1px 4px 2px rgba(,0,0,0.1);
	/*
	
	border-radius:10px;
	box-shadow:2px 2px 25px rgba(0,0,0.1);opacity:.70; */
	
}
#dato_d{
      
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	padding:2px 3px 1px 5px;
/*	color:#00F;*/
	display: table-cell;
	background:url(../images/bg8.png);
   	border-radius: 10px;
	box-shadow:1px 4px 2px rgba(,0,0,0.9);
	/*
	
	border-radius:10px;
	box-shadow:2px 2px 25px rgba(0,0,0.1);opacity:.70; */
	
}
.contacto_resumen{
    border: 1px solid #CED5D7;
    padding: 5px 5px 5px 5px;
    margin-left:10%;
    background:url(../images/bg8.jpg);
   	border-radius: 10px;
	box-shadow:1px 4px 2px rgba(,0,0,0.1);
    width:80%;
    height:60%;
	left:1px;
    
}

.contacto_resumen2{
    border: 1px solid #CED5D7;
    padding: 5px 5px 5px 5px;
    margin-left:10%;
    background:url(../images/bg8.jpg);
   	border-radius: 10px;
	box-shadow:1px 4px 2px rgba(,0,0,0.1);
    width:90%;
    height:60%;
    position:absolute;
	right:40px;
    top:30px;
    
}

#box2{
    font-family:Verdana, Geneva, sans-serif;
	margin-top:20px;
   border: 1px solid #CED5D7;
    left:20px;
    width: 420px;
	padding:10px 7px 5px 6px;
	font-size:12px; 
    color:#00F;
	display: table-cell;
	background:url(../images/bg8.jpg);
   	border-radius: 10px;
	box-shadow:1px 4px 2px rgba(,0,0,0.1);
}
#box2 input[type='text']:focus{
    padding: 10px 5px 5px 10px;
    outline: none;
    margin: 0px 0;
    
    }
#box_conectar{
    font-family:Verdana, Geneva, sans-serif;
	margin:30px;
    border: 1px solid #CED5D7;
    width: 420px;
   	height:200px;
	padding:10px 7px 5px 6px;
	font-size:12px; 
    display: table-cell;
	background:url(../images/bg1.png);
   	border-radius:10px;
	box-shadow:1px 4px 2px rgba(,0,0,0.1);
}
#box_conectar input[type='text']:focus{
    padding: 10px 5px 5px 10px;
    outline: none;
    margin: 0px 0;
    
    }
  #fila_conectar{
	position:absolute;
	top:277px;
	left:40%;
	width:503px;
	height:295px;
	margin-left:-20px;
	margin-top:-20px;
	margin-botton:-20px;
	/*right:168px;/*esto modifica la posicion hacia izquierda++ y derecha-- del datos consulnom*/
      /*   top: 267px;/*esto modifica la posicion hacia abajo++ arriba-- del datos consulnom*/
		}
 #aline_imagen{
	position:absolute;
    width:90px;
	height:90px;
	top:50%;
	left:74%;
	margin-left:-200px;
	margin-top:-150px;

		}
      
#box_resum_nom{
    font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	padding:2px 3px 1px 5px;
	color:#00F;
	 margin-left:04%;
	background:url(../images/bg82.png);
   	border-radius: 10px;
	box-shadow:1px 4px 2px rgba(,0,0,0.1);
     width:90%;
     left: 80%;
    
}

#dato_der input {
  width:80px;
  border: 1px solid #CED5D7;
  box-shadow:0 0 0 2px #EEF5F7;
 } 
#dato_der input[type='text']:focus{
    outline: none;
    box-shadow:0 0 0 3px #00C;
	
}  
.fila{
	display: table-row;
	
	}
	#fila_p{
		position:absolute;
		left:20%;
	/*right:168px;/*esto modifica la posicion hacia izquierda++ y derecha-- del datos consulnom*/
      /*   top: 267px;/*esto modifica la posicion hacia abajo++ arriba-- del datos consulnom*/
		}
	#fila_p1{
		position:absolute;
		left:20%;*/
	/*right:168px;/*esto modifica la posicion hacia izquierda++ y derecha-- del datos consulnom*/
      /*   top: 267px;/*esto modifica la posicion hacia abajo++ arriba-- del datos consulnom*/
		}
#fila_ptab{
	position:absolute;
	right:80px;/*no cambia modifica la posicion de los tab de inv ghas*/
	top: 25px;
		}
#columna{
	display:table-cell;
	}
#imagen
	{
    height:90px;
	width:167%;    
    background: url(../images/ellago_wb.png)no-repeat;
    /*color:#00F;*/
    margin-left:07%;
  	border-radius: 10px;
	box-shadow:1px 4px 2px rgba(,0,0,0.1);
		
	}
.resalta_result input
{
font-style: normal;
font-family:Verdana, Geneva, sans-serif, #006;
font-size:15px;
  
}
.posicion {
        position:relative;
		left: 100px;
		top: 150px;
        float:left;

    
}	
	/*ยก?=)===================================ayuda y validacion ajax;)==================================*/
	.inputError
{
	border:1px solid #FF0000;
	background-color:#FFF4F0;
	color:#FF0000;
}
	
	
	#transparencia
{
	background-color:#FFFFFF; 
	z-index:1; 
	position:absolute;
	width:400px;
	height:260px;
	display:none;
	opacity:0.95; filter:alpha(opacity="95");
}

#transparenciaMensaje
{
	position:absolute;
	width:300px;
	height:100px;
	margin-top:-50px;
	margin-left:-150px;
	top:50%;
	left:50%;
}

/* Mensajes de ayuda */

#mensajesAyuda
{
	width:160px;
	font-family:Verdana;
	font-size:10px;
	border:1px solid #000000;
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	text-align:center;
}

#ayudaTitulo
{
	background-color:#000000; 
	color:#FFFFFF; 
	padding:1px;
}

#ayudaTexto
{
	vertical-align:middle;
	padding:2px;
}
