body {font: 14px/22px verdana, arial, sans-serif; height:100%; margin:0 auto; width:100%;}
h1 { text-shadow: #006 -2px 0px 3px, #aaa 0px -2px 3px, #ccc 0px 2px 3px, #777 2px 0px 3px;}
h3 {color:#3a6d8c; font-size:22px; line-height:26px; font-weight:normal; margin:0 0 8px 0;}
img {border:0;}
#logo {margin-bottom:10px; width:200px;display: table-cell;}
#logo h1 {color:#999; letter-spacing:-1px; font-weight:normal;}
#logo h1 span {color:#FFFF; font-weight:bold;}
#logo .title {color:#999; font-size:12px;}
#container {padding-top:20px; width:99%;top:150px; margin-left:5%;}
#content {border-bottom:2px dotted #999; border-top:1px dotted #999; padding:10px 6px 10px 15px;}

#footer {clear:left; color:#888; margin:20px 0;}
#footer a:link, #footer a:visited {color:#888; text-decoration:none;}
#footer a:hover {color:#333; text-decoration:underline;}