body {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px
}
.carta_no_imprimir {
color: #CC3300
}
#carta_imprimir {
color: #444;
}
.resto {
color: #06f;
}
</style>
<style type="text/css" media="print">
.carta_no_imprimir {
display: none
}
#carta_imprimir {
display: block;
}
.resto {
display: none
}